USE [MapsApi]
GO
/****** Object:  Table [dbo].[CURRENT_LOCATION]    Script Date: 6.01.2023 12:34:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CURRENT_LOCATION](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[LATITUDE] [nvarchar](50) NULL,
	[LONGITUDE] [nvarchar](50) NULL,
	[LOCATION] [nvarchar](50) NULL,
	[TIME] [datetime] NULL,
 CONSTRAINT [PK_CURRENT_LOCATION] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LOGIN_USER]    Script Date: 6.01.2023 12:34:22 ******/


/****** Object:  Table [dbo].[USER_LOCATION]    Script Date: 6.01.2023 12:34:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER_LOCATION](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[LAT] [nvarchar](50) NULL,
	[LNG] [nvarchar](50) NULL,
	[LOCATION] [nvarchar](100) NULL,
	[ADDRESS] [nvarchar](100) NULL,
	[USERID] [nvarchar](50) NULL,
 CONSTRAINT [PK_USER_LOCATION] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[CURRENT_LOCATION] ON 

GO
INSERT [dbo].[CURRENT_LOCATION] ([ID], [LATITUDE], [LONGITUDE], [LOCATION], [TIME]) VALUES (2347, N'37,1759747', N'38,8086036', N'37.1759747,38.8086036', CAST(N'2022-12-09 11:25:22.083' AS DateTime))
GO
INSERT [dbo].[CURRENT_LOCATION] ([ID], [LATITUDE], [LONGITUDE], [LOCATION], [TIME]) VALUES (2348, N'37,1759927', N'38,8085391', N'37.1759927,38.8085391', CAST(N'2022-12-09 11:25:22.997' AS DateTime))
GO
INSERT [dbo].[CURRENT_LOCATION] ([ID], [LATITUDE], [LONGITUDE], [LOCATION], [TIME]) VALUES (2349, N'37,1759927', N'38,8085391', N'37.1759927,38.8085391', CAST(N'2022-12-09 11:25:28.247' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[CURRENT_LOCATION] OFF
GO
